###############################################################################
# Ignore these directories
###############################################################################

/build
/coverage
/node_modules
/out/
/.pnp
/cypress/screenshots
/cypress/videos

###############################################################################
# Ignore these files
###############################################################################

*.log*
*.pem
*.tsbuildinfo
*~
.*
*.php.js
tags

###############################################################################
# Accept these files
###############################################################################

!.Dockerignore
!.editorconfig
!.eslintrc.json
!.gitignore
!.gitlab-ci.yml
!.nvmrc
!.prettierignore
!.prettierrc
!.storybook
!.vscode

